#filter {
    width: 100%;
    height: 25px;
    line-height: 25px;
    border-radius: 3px;
    margin: auto;
    padding-left: 70px;
    background-color: white;
    position: absolute;
}

#switch {
    color: #000000;
    display: inline-flex;
    margin-left: 10px;
}

/* large btnAds */
label {
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 20px;
}

.form-check-input {
    margin-right: 10px;
}

input {
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    transition: 0.3s;
}