#flex-container {
    width: 99%;
    border-radius: 3px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.297);
}

#switch {
    color: #000000;
    display: inline-flex;
    margin-left: 10px;
}