#info {
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  position: absolute;
  z-index: 100;
}

/* Hide the InfoWindow tail */

.gm-ui-hover-effect {
  filter: invert(39%) sepia(99%) saturate(7461%) hue-rotate(360deg) brightness(102%) contrast(104%);
  outline: none !important;
  margin-top: 10px !important;
  margin-right: 10px !important;
}

.gm-style-iw {
  width: 350px !important;
   top: 0 !important;
   left: 0 !important;
   background-color: #fff;
   box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
   border: 1px solid rgba(72, 181, 233, 0.6);
   border-radius: 2px 2px 0 0;
}

.gm-style-iw-tc {
  display: none !important;
}

/* .popup {
  padding: 10px;
  margin: 0px;
  display: flex;
  align-items: left;
  flex-direction: column;
  background-color: beige;
}

.popup-title {
  border-bottom: #000 solid 1px;
  padding-bottom: 10px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
} */
