.location-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;
  bottom: 20px;
  cursor: pointer;
}

.location-icon {
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-size: 24px;
}