.square-button {
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  padding: 10px 20px; 
  border-radius: 8px; 
  text-decoration: none;
  white-space: nowrap; 
}

.square-button .bi {
  margin-right: 10px;
}


nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#000;
    background:#fff;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #7bcbc6 ;
}
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #7bcbc6;
    border-bottom:5px solid #7bcbc6;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #7bcbc6;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

.button {
  display: flex;
  justify-content: center;
}

#editButton, #licenseButton {
  display: flex;
  align-items: center;
}


.carousel-container {
  width: 100%; /* or a specific width */
  height: auto; /* or a specific height */
  margin: auto; /* for center alignment */
  position: relative; /* if needed for positioning */
}

.carousel-item img {
  width: 100%; /* makes the image responsive */
  height: auto; /* maintain aspect ratio */
  object-fit: cover; /* or 'contain' depending on requirement */
}

.carousel-item {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.carousel-item.active {
  opacity: 1;
}
