body {
  background: #f5f5f5;
  margin-top: 20px;
}
/*------- portfolio -------*/
.project {
  margin: 15px 0;
}

.no-gutter .project {
  margin: 0 !important;
  padding: 0 !important;
}

.has-spacer {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.has-spacer-extra-space {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.has-side-spacer {
  margin-left: 30px;
  margin-right: 30px;
}

.project-title {
  font-size: 1.25rem;
}

.project-skill {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
}

.project-info-box {
  margin: 15px 0;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 5px;
}

.project-info-box p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5dadb;
}

.project-info-box p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}
.rounded {
  border-radius: 5px !important;
}
.btn-xs.btn-icon {
  width: 34px;
  height: 34px;
  max-width: 34px !important;
  max-height: 34px !important;
  font-size: 10px;
  line-height: 34px;
}

.btn-xs.btn-icon span,
.btn-xs.btn-icon i {
  line-height: 34px;
}
.btn-icon.btn-circle span,
.btn-icon.btn-circle i {
  margin-top: -1px;
  margin-right: -1px;
}
.btn-icon i {
  margin-top: -1px;
}
.btn-icon span,
.btn-icon i {
  display: block;
  line-height: 50px;
}
a.btn,
a.btn-social {
  display: inline-block;
}
.mr-5 {
  margin-right: 5px !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}

.btn-circle {
  border-radius: 50% !important;
}
.project-info-box p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5dadb;
}

p {
  font-family: 'Barlow', sans-serif !important;
  font-weight: 300;
  font-size: 1rem;
  color: #686c6d;
  letter-spacing: 0.03rem;
  margin-bottom: 10px;
}
b,
strong {
  font-weight: 700 !important;
}

/* CSS để tuỳ chỉnh màu sắc của các tùy chọn */
#handleMethodSelect option[value="pending"] {
  background-color: #f8d7da; /* Màu đỏ nhạt */
  color: #721c24; /* Màu chữ đỏ đậm */
}

#handleMethodSelect option[value="inprogress"] {
  background-color: #cce5ff; /* Màu xanh nhạt */
  color: #004085; /* Màu chữ xanh đậm */
}

#handleMethodSelect option[value="processed"] {
  background-color: #d4edda; /* Màu xanh lá cây nhạt */
  color: #155724; /* Màu chữ xanh lá cây đậm */
}
